# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/front/dist
/front/tmp
/front/out-tsc
/front/bazel-out

# Node
/front/node_modules
/front/npm-debug.log
/front/yarn-error.log

# IDEs and editors
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/front/.angular
/front/.sass-cache/
/front/connect.lock
/front/coverage
/front/libpeerconnection.log
/front/testem.log
/front/typings

# System files
.DS_Store
Thumbs.db
/.editorconfig
/server/public/3rdpartylicenses.txt
/server/public/515.js
/server/public/bootstrap-icons.woff
/server/public/bootstrap-icons.woff2
/server/public/favicon.ico
/server/public/assets/logo.png
/server/public/main.html
/server/public/main.js
/server/public/polyfills.js
/server/public/runtime.js
/server/public/scripts.js
/server/public/styles.css
/server/kernel/SessDock/*
/server/public/main.js.map
/server/public/polyfills.js.map
/server/public/runtime.js.map
/server/public/scripts.js.map
/server/public/src_app_admin_admin_module_ts.js
/server/public/src_app_admin_admin_module_ts.js.map
/server/public/styles.css.map
/server/public/vendor.js
/server/public/vendor.js.map
